@import './normalize.css';
@import './media.css';
body {
  padding: 0;
  margin: 0;
  width: 15rem;
  min-width: 320px;
  margin: 0 auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}